<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clubfactory.item.center.core.mapper.ItemMapper">

    <resultMap id="BaseResultMap" type="com.clubfactory.item.center.core.dataobject.ItemDO">
        <id property="id" column="ID"/><!---->
        <result property="createTime" column="CREATE_TIME"/><!---->
        <result property="updateTime" column="UPDATE_TIME"/><!---->
        <result property="isDelete" column="IS_DELETE"/><!--逻辑删除标示 1：删除-->
        <result property="itemId" column="ITEM_ID"/><!--分表按照product_id进行-->
        <result property="productId" column="PRODUCT_ID"/><!--b端货品id-->
        <result property="productNo" column="PRODUCT_NO"/><!--货品货品-->
        <result property="title" column="TITLE"/><!--商品标题-->
        <result property="status" column="STATUS"/><!--商品状态-->
        <result property="inventoryStatus" column="INVENTORY_STATUS"/><!--商品库存状态,0:不售罄;1:售罄-->
        <result property="version" column="VERSION"/><!--item商品版本号-->
        <result property="categoryId" column="CATEGORY_ID"/><!--后台叶子类目id-->
        <result property="bizModel" column="BIZ_MODEL"/><!--业务模式-->
        <result property="mainImage" column="MAIN_IMAGE"/><!--商品主图-->
        <result property="images" column="IMAGES"/><!--轮播图-->
        <result property="videoUrl" column="VIDEO_URL"/><!--视频url-->
        <result property="videoCover" column="VIDEO_COVER"/><!--头图url-->
        <result property="orders" column="ORDERS"/><!--确认总销量-->
        <result property="specification" column="SPECIFICATION"/><!--详细描述-->
        <result property="itemProperty" column="ITEM_PROPERTY"/><!--商品属性-->
        <result property="searchKeywords" column="SEARCH_KEYWORDS"/><!---->
        <result property="sellerId" column="SELLER_ID"/><!---->
        <result property="sellerName" column="SELLER_NAME"/><!--seller名称-->
        <result property="storeId" column="STORE_ID"/><!--店铺id-->
        <result property="features" column="FEATURES"/><!--C端商品标签，主要用于活动-->
        <result property="feature" column="FEATURE"/><!--b端spu维度feature-->
        <result property="tags" column="TAGS"/><!--C端商品标签，主要用于活动-->
        <result property="illegalTags" column="ILLEGAL_TAGS"/><!--B端禁运禁售标签-->
        <result property="skuMaxPrice" column="SKU_MAX_PRICE"/><!--sku最高价-->
        <result property="skuMinPrice" column="SKU_MIN_PRICE"/><!--sku最低价-->
        <result property="currency" column="CURRENCY"/><!--币种-->
        <result property="forbiddenSaleNations" column="FORBIDDEN_SALE_NATIONS"/><!--禁售国家-->
        <result property="description" column="DESCRIPTION"/><!--图文详情-->
        <result property="channel" column="CHANNEL"/><!--商品对应的销售渠道-->
    </resultMap>

    <sql id="Base_Column_List">
        <trim suffixOverrides=",">
            ID,
            CREATE_TIME,
            UPDATE_TIME,
            IS_DELETE,
            ITEM_ID,
            PRODUCT_ID,
            PRODUCT_NO,
            TITLE,
            STATUS,
            INVENTORY_STATUS,
            VERSION,
            CATEGORY_ID,
            BIZ_MODEL,
            MAIN_IMAGE,
            IMAGES,
            VIDEO_URL,
            VIDEO_COVER,
            ORDERS,
            SPECIFICATION,
            ITEM_PROPERTY,
            SEARCH_KEYWORDS,
            SELLER_ID,
            SELLER_NAME,
            STORE_ID,
            FEATURES,
            FEATURE,
            TAGS,
            ILLEGAL_TAGS,
            SKU_MAX_PRICE,
            SKU_MIN_PRICE,
            CURRENCY,
            FORBIDDEN_SALE_NATIONS,
            DESCRIPTION,
            CHANNEL,
        </trim>
    </sql>


    <sql id="idCnd">
        <where>
            item_id=#{itemId}
        </where>
    </sql>

    <insert id="insert" parameterType="com.clubfactory.item.center.core.dataobject.ItemDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">ID,</if>
            <if test="createTime!=null">CREATE_TIME,</if>
            <if test="updateTime!=null">UPDATE_TIME,</if>
            <if test="isDelete!=null">IS_DELETE,</if>
            <if test="itemId!=null">ITEM_ID,</if>
            <if test="productId!=null">PRODUCT_ID,</if>
            <if test="productNo!=null">PRODUCT_NO,</if>
            <if test="title!=null">TITLE,</if>
            <if test="status!=null">STATUS,</if>
            <if test="inventoryStatus!=null">INVENTORY_STATUS,</if>
            <if test="version!=null">VERSION,</if>
            <if test="categoryId!=null">CATEGORY_ID,</if>
            <if test="bizModel!=null">BIZ_MODEL,</if>
            <if test="mainImage!=null">MAIN_IMAGE,</if>
            <if test="images!=null">IMAGES,</if>
            <if test="videoUrl!=null">VIDEO_URL,</if>
            <if test="videoCover!=null">VIDEO_COVER,</if>
            <if test="orders!=null">ORDERS,</if>
            <if test="specification!=null">SPECIFICATION,</if>
            <if test="itemProperty!=null">ITEM_PROPERTY,</if>
            <if test="searchKeywords!=null">SEARCH_KEYWORDS,</if>
            <if test="sellerId!=null">SELLER_ID,</if>
            <if test="sellerName!=null">SELLER_NAME,</if>
            <if test="storeId!=null">STORE_ID,</if>
            <if test="features!=null">FEATURES,</if>
            <if test="feature!=null">FEATURE,</if>
            <if test="tags!=null">TAGS,</if>
            <if test="illegalTags!=null">ILLEGAL_TAGS,</if>
            <if test="skuMaxPrice!=null">SKU_MAX_PRICE,</if>
            <if test="skuMinPrice!=null">SKU_MIN_PRICE,</if>
            <if test="currency!=null">CURRENCY,</if>
            <if test="forbiddenSaleNations!=null">FORBIDDEN_SALE_NATIONS,</if>
            <if test="description!=null">DESCRIPTION,</if>
            <if test="channel!=null">CHANNEL,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="createTime!=null">#{createTime},</if>
            <if test="updateTime!=null">#{updateTime},</if>
            <if test="isDelete!=null">#{isDelete},</if>
            <if test="itemId!=null">#{itemId},</if>
            <if test="productId!=null">#{productId},</if>
            <if test="productNo!=null">#{productNo},</if>
            <if test="title!=null">#{title},</if>
            <if test="status!=null">#{status},</if>
            <if test="inventoryStatus!=null">#{inventoryStatus},</if>
            <if test="version!=null">#{version},</if>
            <if test="categoryId!=null">#{categoryId},</if>
            <if test="bizModel!=null">#{bizModel},</if>
            <if test="mainImage!=null">#{mainImage},</if>
            <if test="images!=null">#{images},</if>
            <if test="videoUrl!=null">#{videoUrl},</if>
            <if test="videoCover!=null">#{videoCover},</if>
            <if test="orders!=null">#{orders},</if>
            <if test="specification!=null">#{specification},</if>
            <if test="itemProperty!=null">#{itemProperty},</if>
            <if test="searchKeywords!=null">#{searchKeywords},</if>
            <if test="sellerId!=null">#{sellerId},</if>
            <if test="sellerName!=null">#{sellerName},</if>
            <if test="storeId!=null">#{storeId},</if>
            <if test="features!=null">#{features},</if>
            <if test="feature!=null">#{feature},</if>
            <if test="tags!=null">#{tags},</if>
            <if test="illegalTags!=null">#{illegalTags},</if>
            <if test="skuMaxPrice!=null">#{skuMaxPrice},</if>
            <if test="skuMinPrice!=null">#{skuMinPrice},</if>
            <if test="currency!=null">#{currency},</if>
            <if test="forbiddenSaleNations!=null">#{forbiddenSaleNations},</if>
            <if test="description!=null">#{description},</if>
            <if test="channel!=null">#{channel},</if>
        </trim>
    </insert>

    <insert id="upsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">ID,</if>
            <if test="createTime!=null">CREATE_TIME,</if>
            <if test="updateTime!=null">UPDATE_TIME,</if>
            <if test="isDelete!=null">IS_DELETE,</if>
            <if test="itemId!=null">ITEM_ID,</if>
            <if test="productId!=null">PRODUCT_ID,</if>
            <if test="productNo!=null">PRODUCT_NO,</if>
            <if test="title!=null">TITLE,</if>
            <if test="status!=null">STATUS,</if>
            <if test="inventoryStatus!=null">INVENTORY_STATUS,</if>
            <if test="version!=null">VERSION,</if>
            <if test="categoryId!=null">CATEGORY_ID,</if>
            <if test="bizModel!=null">BIZ_MODEL,</if>
            <if test="mainImage!=null">MAIN_IMAGE,</if>
            <if test="images!=null">IMAGES,</if>
            <if test="videoUrl!=null">VIDEO_URL,</if>
            <if test="videoCover!=null">VIDEO_COVER,</if>
            <if test="orders!=null">ORDERS,</if>
            <if test="specification!=null">SPECIFICATION,</if>
            <if test="itemProperty!=null">ITEM_PROPERTY,</if>
            <if test="searchKeywords!=null">SEARCH_KEYWORDS,</if>
            <if test="sellerId!=null">SELLER_ID,</if>
            <if test="sellerName!=null">SELLER_NAME,</if>
            <if test="storeId!=null">STORE_ID,</if>
            <if test="features!=null">FEATURES,</if>
            <if test="feature!=null">FEATURE,</if>
            <if test="tags!=null">TAGS,</if>
            <if test="illegalTags!=null">ILLEGAL_TAGS,</if>
            <if test="skuMaxPrice!=null">SKU_MAX_PRICE,</if>
            <if test="skuMinPrice!=null">SKU_MIN_PRICE,</if>
            <if test="currency!=null">CURRENCY,</if>
            <if test="forbiddenSaleNations!=null">FORBIDDEN_SALE_NATIONS,</if>
            <if test="description!=null">DESCRIPTION,</if>
            <if test="channel!=null">CHANNEL,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="createTime!=null">#{createTime},</if>
            <if test="updateTime!=null">#{updateTime},</if>
            <if test="isDelete!=null">#{isDelete},</if>
            <if test="itemId!=null">#{itemId},</if>
            <if test="productId!=null">#{productId},</if>
            <if test="productNo!=null">#{productNo},</if>
            <if test="title!=null">#{title},</if>
            <if test="status!=null">#{status},</if>
            <if test="inventoryStatus!=null">#{inventoryStatus},</if>
            <if test="version!=null">#{version},</if>
            <if test="categoryId!=null">#{categoryId},</if>
            <if test="bizModel!=null">#{bizModel},</if>
            <if test="mainImage!=null">#{mainImage},</if>
            <if test="images!=null">#{images},</if>
            <if test="videoUrl!=null">#{videoUrl},</if>
            <if test="videoCover!=null">#{videoCover},</if>
            <if test="orders!=null">#{orders},</if>
            <if test="specification!=null">#{specification},</if>
            <if test="itemProperty!=null">#{itemProperty},</if>
            <if test="searchKeywords!=null">#{searchKeywords},</if>
            <if test="sellerId!=null">#{sellerId},</if>
            <if test="sellerName!=null">#{sellerName},</if>
            <if test="storeId!=null">#{storeId},</if>
            <if test="features!=null">#{features},</if>
            <if test="feature!=null">#{feature},</if>
            <if test="tags!=null">#{tags},</if>
            <if test="illegalTags!=null">#{illegalTags},</if>
            <if test="skuMaxPrice!=null">#{skuMaxPrice},</if>
            <if test="skuMinPrice!=null">#{skuMinPrice},</if>
            <if test="currency!=null">#{currency},</if>
            <if test="forbiddenSaleNations!=null">#{forbiddenSaleNations},</if>
            <if test="description!=null">#{description},</if>
            <if test="channel!=null">#{channel},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
            <if test="updateTime!=null">UPDATE_TIME=#{updateTime},</if>
            <if test="isDelete!=null">IS_DELETE=#{isDelete},</if>
            <if test="productId!=null">PRODUCT_ID=#{productId},</if>
            <if test="productNo!=null">PRODUCT_NO=#{productNo},</if>
            <if test="title!=null">TITLE=#{title},</if>
            <if test="status!=null">STATUS=#{status},</if>
            <if test="inventoryStatus!=null">INVENTORY_STATUS=#{inventoryStatus},</if>
            <if test="version!=null">VERSION=#{version},</if>
            <if test="categoryId!=null">CATEGORY_ID=#{categoryId},</if>
            <if test="bizModel!=null">BIZ_MODEL=#{bizModel},</if>
            <if test="mainImage!=null">MAIN_IMAGE=#{mainImage},</if>
            <if test="images!=null">IMAGES=#{images},</if>
            <if test="videoUrl!=null">VIDEO_URL=#{videoUrl},</if>
            <if test="videoCover!=null">VIDEO_COVER=#{videoCover},</if>
            <if test="orders!=null">ORDERS=#{orders},</if>
            <if test="specification!=null">SPECIFICATION=#{specification},</if>
            <if test="itemProperty!=null">ITEM_PROPERTY=#{itemProperty},</if>
            <if test="searchKeywords!=null">SEARCH_KEYWORDS=#{searchKeywords},</if>
            <if test="sellerId!=null">SELLER_ID=#{sellerId},</if>
            <if test="sellerName!=null">SELLER_NAME=#{sellerName},</if>
            <if test="storeId!=null">STORE_ID=#{storeId},</if>
            <if test="features!=null">FEATURES=#{features},</if>
            <if test="feature!=null">FEATURE=#{feature},</if>
            <if test="tags!=null">TAGS=#{tags},</if>
            <if test="illegalTags!=null">ILLEGAL_TAGS=#{illegalTags},</if>
            <if test="skuMaxPrice!=null">SKU_MAX_PRICE=#{skuMaxPrice},</if>
            <if test="skuMinPrice!=null">SKU_MIN_PRICE=#{skuMinPrice},</if>
            <if test="currency!=null">CURRENCY=#{currency},</if>
            <if test="forbiddenSaleNations!=null">FORBIDDEN_SALE_NATIONS=#{forbiddenSaleNations},</if>
            <if test="description!=null">DESCRIPTION=#{description},</if>
            <if test="channel!=null">CHANNEL=#{channel},</if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey">
        DELETE FROM item
        <include refid="idCnd"/>
    </delete>

    <update id="updateByPrimaryKey">
        UPDATE item
        <set>
            <if test="id!=null">ID=#{id},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
            <if test="updateTime!=null">UPDATE_TIME=#{updateTime},</if>
            <if test="isDelete!=null">IS_DELETE=#{isDelete},</if>
            <if test="itemId!=null">ITEM_ID=#{itemId},</if>
            <if test="productId!=null">PRODUCT_ID=#{productId},</if>
            <if test="productNo!=null">PRODUCT_NO=#{productNo},</if>
            <if test="title!=null">TITLE=#{title},</if>
            <if test="status!=null">STATUS=#{status},</if>
            <if test="inventoryStatus!=null">INVENTORY_STATUS=#{inventoryStatus},</if>
            <if test="version!=null">VERSION=#{version},</if>
            <if test="categoryId!=null">CATEGORY_ID=#{categoryId},</if>
            <if test="bizModel!=null">BIZ_MODEL=#{bizModel},</if>
            <if test="mainImage!=null">MAIN_IMAGE=#{mainImage},</if>
            <if test="images!=null">IMAGES=#{images},</if>
            <if test="videoUrl!=null">VIDEO_URL=#{videoUrl},</if>
            <if test="videoCover!=null">VIDEO_COVER=#{videoCover},</if>
            <if test="orders!=null">ORDERS=#{orders},</if>
            <if test="specification!=null">SPECIFICATION=#{specification},</if>
            <if test="itemProperty!=null">ITEM_PROPERTY=#{itemProperty},</if>
            <if test="searchKeywords!=null">SEARCH_KEYWORDS=#{searchKeywords},</if>
            <if test="sellerId!=null">SELLER_ID=#{sellerId},</if>
            <if test="sellerName!=null">SELLER_NAME=#{sellerName},</if>
            <if test="storeId!=null">STORE_ID=#{storeId},</if>
            <if test="features!=null">FEATURES=#{features},</if>
            <if test="feature!=null">FEATURE=#{feature},</if>
            <if test="tags!=null">TAGS=#{tags},</if>
            <if test="illegalTags!=null">ILLEGAL_TAGS=#{illegalTags},</if>
            <if test="skuMaxPrice!=null">SKU_MAX_PRICE=#{skuMaxPrice},</if>
            <if test="skuMinPrice!=null">SKU_MIN_PRICE=#{skuMinPrice},</if>
            <if test="currency!=null">CURRENCY=#{currency},</if>
            <if test="forbiddenSaleNations!=null">FORBIDDEN_SALE_NATIONS=#{forbiddenSaleNations},</if>
            <if test="description!=null">DESCRIPTION=#{description},</if>
            <if test="channel!=null">CHANNEL=#{channel},</if>
        </set>
        <include refid="idCnd"/>
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        item
        <include refid="idCnd"/>
    </select>


    <sql id="where_clause">
        <where>
            <if test="id!=null">AND ID=#{id}</if>
            <if test="createTime!=null">AND CREATE_TIME=#{createTime}</if>
            <if test="updateTime!=null">AND UPDATE_TIME=#{updateTime}</if>
            <if test="isDelete!=null">AND IS_DELETE=#{isDelete}</if>
            <if test="itemId!=null">AND ITEM_ID=#{itemId}</if>
            <if test="productId!=null">AND PRODUCT_ID=#{productId}</if>
            <if test="productNo!=null">AND PRODUCT_NO=#{productNo}</if>
            <if test="title!=null">AND TITLE=#{title}</if>
            <if test="status!=null">AND STATUS=#{status}</if>
            <if test="inventoryStatus!=null">AND INVENTORY_STATUS=#{inventoryStatus}</if>
            <if test="version!=null">AND VERSION=#{version}</if>
            <if test="categoryId!=null">AND CATEGORY_ID=#{categoryId}</if>
            <if test="bizModel!=null">AND BIZ_MODEL=#{bizModel}</if>
            <if test="mainImage!=null">AND MAIN_IMAGE=#{mainImage}</if>
            <if test="images!=null">AND IMAGES=#{images}</if>
            <if test="videoUrl!=null">AND VIDEO_URL=#{videoUrl}</if>
            <if test="videoCover!=null">AND VIDEO_COVER=#{videoCover}</if>
            <if test="orders!=null">AND ORDERS=#{orders}</if>
            <if test="specification!=null">AND SPECIFICATION=#{specification}</if>
            <if test="itemProperty!=null">AND ITEM_PROPERTY=#{itemProperty}</if>
            <if test="searchKeywords!=null">AND SEARCH_KEYWORDS=#{searchKeywords}</if>
            <if test="sellerId!=null">AND SELLER_ID=#{sellerId}</if>
            <if test="sellerName!=null">AND SELLER_NAME=#{sellerName}</if>
            <if test="storeId!=null">AND STORE_ID=#{storeId}</if>
            <if test="features!=null">AND FEATURES=#{features}</if>
            <if test="feature!=null">AND FEATURE=#{feature}</if>
            <if test="tags!=null">AND TAGS=#{tags}</if>
            <if test="illegalTags!=null">AND ILLEGAL_TAGS=#{illegalTags}</if>
            <if test="skuMaxPrice!=null">AND SKU_MAX_PRICE=#{skuMaxPrice}</if>
            <if test="skuMinPrice!=null">AND SKU_MIN_PRICE=#{skuMinPrice}</if>
            <if test="currency!=null">AND CURRENCY=#{currency}</if>
            <if test="forbiddenSaleNations!=null">AND FORBIDDEN_SALE_NATIONS=#{forbiddenSaleNations}</if>
            <if test="description!=null">AND DESCRIPTION=#{description}</if>
            <if test="channel!=null">AND CHANNEL=#{channel}</if>
        </where>
    </sql>

    <select id="listByParams" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        item
        <include refid="where_clause"/>
    </select>


    <insert id="batchInsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].id!=null">ID,</if>
            <if test="list[0].createTime!=null">CREATE_TIME,</if>
            <if test="list[0].updateTime!=null">UPDATE_TIME,</if>
            <if test="list[0].isDelete!=null">IS_DELETE,</if>
            <if test="list[0].itemId!=null">ITEM_ID,</if>
            <if test="list[0].productId!=null">PRODUCT_ID,</if>
            <if test="list[0].productNo!=null">PRODUCT_NO,</if>
            <if test="list[0].title!=null">TITLE,</if>
            <if test="list[0].status!=null">STATUS,</if>
            <if test="list[0].inventoryStatus!=null">INVENTORY_STATUS,</if>
            <if test="list[0].version!=null">VERSION,</if>
            <if test="list[0].categoryId!=null">CATEGORY_ID,</if>
            <if test="list[0].bizModel!=null">BIZ_MODEL,</if>
            <if test="list[0].mainImage!=null">MAIN_IMAGE,</if>
            <if test="list[0].images!=null">IMAGES,</if>
            <if test="list[0].videoUrl!=null">VIDEO_URL,</if>
            <if test="list[0].videoCover!=null">VIDEO_COVER,</if>
            <if test="list[0].orders!=null">ORDERS,</if>
            <if test="list[0].specification!=null">SPECIFICATION,</if>
            <if test="list[0].itemProperty!=null">ITEM_PROPERTY,</if>
            <if test="list[0].searchKeywords!=null">SEARCH_KEYWORDS,</if>
            <if test="list[0].sellerId!=null">SELLER_ID,</if>
            <if test="list[0].sellerName!=null">SELLER_NAME,</if>
            <if test="list[0].storeId!=null">STORE_ID,</if>
            <if test="list[0].features!=null">FEATURES,</if>
            <if test="list[0].feature!=null">FEATURE,</if>
            <if test="list[0].tags!=null">TAGS,</if>
            <if test="list[0].illegalTags!=null">ILLEGAL_TAGS,</if>
            <if test="list[0].skuMaxPrice!=null">SKU_MAX_PRICE,</if>
            <if test="list[0].skuMinPrice!=null">SKU_MIN_PRICE,</if>
            <if test="list[0].currency!=null">CURRENCY,</if>
            <if test="list[0].forbiddenSaleNations!=null">FORBIDDEN_SALE_NATIONS,</if>
            <if test="list[0].description!=null">DESCRIPTION,</if>
            <if test="list[0].channel!=null">CHANNEL,</if>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="list[0].id!=null">#{item.id},</if>
                <if test="list[0].createTime!=null">#{item.createTime},</if>
                <if test="list[0].updateTime!=null">#{item.updateTime},</if>
                <if test="list[0].isDelete!=null">#{item.isDelete},</if>
                <if test="list[0].itemId!=null">#{item.itemId},</if>
                <if test="list[0].productId!=null">#{item.productId},</if>
                <if test="list[0].productNo!=null">#{item.productNo},</if>
                <if test="list[0].title!=null">#{item.title},</if>
                <if test="list[0].status!=null">#{item.status},</if>
                <if test="list[0].inventoryStatus!=null">#{item.inventoryStatus},</if>
                <if test="list[0].version!=null">#{item.version},</if>
                <if test="list[0].categoryId!=null">#{item.categoryId},</if>
                <if test="list[0].bizModel!=null">#{item.bizModel},</if>
                <if test="list[0].mainImage!=null">#{item.mainImage},</if>
                <if test="list[0].images!=null">#{item.images},</if>
                <if test="list[0].videoUrl!=null">#{item.videoUrl},</if>
                <if test="list[0].videoCover!=null">#{item.videoCover},</if>
                <if test="list[0].orders!=null">#{item.orders},</if>
                <if test="list[0].specification!=null">#{item.specification},</if>
                <if test="list[0].itemProperty!=null">#{item.itemProperty},</if>
                <if test="list[0].searchKeywords!=null">#{item.searchKeywords},</if>
                <if test="list[0].sellerId!=null">#{item.sellerId},</if>
                <if test="list[0].sellerName!=null">#{item.sellerName},</if>
                <if test="list[0].storeId!=null">#{item.storeId},</if>
                <if test="list[0].features!=null">#{item.features},</if>
                <if test="list[0].feature!=null">#{item.feature},</if>
                <if test="list[0].tags!=null">#{item.tags},</if>
                <if test="list[0].illegalTags!=null">#{item.illegalTags},</if>
                <if test="list[0].skuMaxPrice!=null">#{item.skuMaxPrice},</if>
                <if test="list[0].skuMinPrice!=null">#{item.skuMinPrice},</if>
                <if test="list[0].currency!=null">#{item.currency},</if>
                <if test="list[0].forbiddenSaleNations!=null">#{item.forbiddenSaleNations},</if>
                <if test="list[0].description!=null">#{item.description},</if>
                <if test="list[0].channel!=null">#{item.channel},</if>
            </trim>
        </foreach>
    </insert>

    <insert id="batchUpsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].id!=null">ID,</if>
            <if test="list[0].createTime!=null">CREATE_TIME,</if>
            <if test="list[0].updateTime!=null">UPDATE_TIME,</if>
            <if test="list[0].isDelete!=null">IS_DELETE,</if>
            <if test="list[0].itemId!=null">ITEM_ID,</if>
            <if test="list[0].productId!=null">PRODUCT_ID,</if>
            <if test="list[0].productNo!=null">PRODUCT_NO,</if>
            <if test="list[0].title!=null">TITLE,</if>
            <if test="list[0].status!=null">STATUS,</if>
            <if test="list[0].inventoryStatus!=null">INVENTORY_STATUS,</if>
            <if test="list[0].version!=null">VERSION,</if>
            <if test="list[0].categoryId!=null">CATEGORY_ID,</if>
            <if test="list[0].bizModel!=null">BIZ_MODEL,</if>
            <if test="list[0].mainImage!=null">MAIN_IMAGE,</if>
            <if test="list[0].images!=null">IMAGES,</if>
            <if test="list[0].videoUrl!=null">VIDEO_URL,</if>
            <if test="list[0].videoCover!=null">VIDEO_COVER,</if>
            <if test="list[0].orders!=null">ORDERS,</if>
            <if test="list[0].specification!=null">SPECIFICATION,</if>
            <if test="list[0].itemProperty!=null">ITEM_PROPERTY,</if>
            <if test="list[0].searchKeywords!=null">SEARCH_KEYWORDS,</if>
            <if test="list[0].sellerId!=null">SELLER_ID,</if>
            <if test="list[0].sellerName!=null">SELLER_NAME,</if>
            <if test="list[0].storeId!=null">STORE_ID,</if>
            <if test="list[0].features!=null">FEATURES,</if>
            <if test="list[0].feature!=null">FEATURE,</if>
            <if test="list[0].tags!=null">TAGS,</if>
            <if test="list[0].illegalTags!=null">ILLEGAL_TAGS,</if>
            <if test="list[0].skuMaxPrice!=null">SKU_MAX_PRICE,</if>
            <if test="list[0].skuMinPrice!=null">SKU_MIN_PRICE,</if>
            <if test="list[0].currency!=null">CURRENCY,</if>
            <if test="list[0].forbiddenSaleNations!=null">FORBIDDEN_SALE_NATIONS,</if>
            <if test="list[0].description!=null">DESCRIPTION,</if>
            <if test="list[0].channel!=null">CHANNEL,</if>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="list[0].id!=null">#{item.id},</if>
                <if test="list[0].createTime!=null">#{item.createTime},</if>
                <if test="list[0].updateTime!=null">#{item.updateTime},</if>
                <if test="list[0].isDelete!=null">#{item.isDelete},</if>
                <if test="list[0].itemId!=null">#{item.itemId},</if>
                <if test="list[0].productId!=null">#{item.productId},</if>
                <if test="list[0].productNo!=null">#{item.productNo},</if>
                <if test="list[0].title!=null">#{item.title},</if>
                <if test="list[0].status!=null">#{item.status},</if>
                <if test="list[0].inventoryStatus!=null">#{item.inventoryStatus},</if>
                <if test="list[0].version!=null">#{item.version},</if>
                <if test="list[0].categoryId!=null">#{item.categoryId},</if>
                <if test="list[0].bizModel!=null">#{item.bizModel},</if>
                <if test="list[0].mainImage!=null">#{item.mainImage},</if>
                <if test="list[0].images!=null">#{item.images},</if>
                <if test="list[0].videoUrl!=null">#{item.videoUrl},</if>
                <if test="list[0].videoCover!=null">#{item.videoCover},</if>
                <if test="list[0].orders!=null">#{item.orders},</if>
                <if test="list[0].specification!=null">#{item.specification},</if>
                <if test="list[0].itemProperty!=null">#{item.itemProperty},</if>
                <if test="list[0].searchKeywords!=null">#{item.searchKeywords},</if>
                <if test="list[0].sellerId!=null">#{item.sellerId},</if>
                <if test="list[0].sellerName!=null">#{item.sellerName},</if>
                <if test="list[0].storeId!=null">#{item.storeId},</if>
                <if test="list[0].features!=null">#{item.features},</if>
                <if test="list[0].feature!=null">#{item.feature},</if>
                <if test="list[0].tags!=null">#{item.tags},</if>
                <if test="list[0].illegalTags!=null">#{item.illegalTags},</if>
                <if test="list[0].skuMaxPrice!=null">#{item.skuMaxPrice},</if>
                <if test="list[0].skuMinPrice!=null">#{item.skuMinPrice},</if>
                <if test="list[0].currency!=null">#{item.currency},</if>
                <if test="list[0].forbiddenSaleNations!=null">#{item.forbiddenSaleNations},</if>
                <if test="list[0].description!=null">#{item.description},</if>
                <if test="list[0].channel!=null">#{item.channel},</if>
            </trim>
        </foreach>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="list[0].createTime!=null">CREATE_TIME=values(CREATE_TIME),</if>
            <if test="list[0].updateTime!=null">UPDATE_TIME=values(UPDATE_TIME),</if>
            <if test="list[0].isDelete!=null">IS_DELETE=values(IS_DELETE),</if>
            <if test="list[0].productId!=null">PRODUCT_ID=values(PRODUCT_ID),</if>
            <if test="list[0].productNo!=null">PRODUCT_NO=values(PRODUCT_NO),</if>
            <if test="list[0].title!=null">TITLE=values(TITLE),</if>
            <if test="list[0].status!=null">STATUS=values(STATUS),</if>
            <if test="list[0].inventoryStatus!=null">INVENTORY_STATUS=values(INVENTORY_STATUS),</if>
            <if test="list[0].version!=null">VERSION=values(VERSION),</if>
            <if test="list[0].categoryId!=null">CATEGORY_ID=values(CATEGORY_ID),</if>
            <if test="list[0].bizModel!=null">BIZ_MODEL=values(BIZ_MODEL),</if>
            <if test="list[0].mainImage!=null">MAIN_IMAGE=values(MAIN_IMAGE),</if>
            <if test="list[0].images!=null">IMAGES=values(IMAGES),</if>
            <if test="list[0].videoUrl!=null">VIDEO_URL=values(VIDEO_URL),</if>
            <if test="list[0].videoCover!=null">VIDEO_COVER=values(VIDEO_COVER),</if>
            <if test="list[0].orders!=null">ORDERS=values(ORDERS),</if>
            <if test="list[0].specification!=null">SPECIFICATION=values(SPECIFICATION),</if>
            <if test="list[0].itemProperty!=null">ITEM_PROPERTY=values(ITEM_PROPERTY),</if>
            <if test="list[0].searchKeywords!=null">SEARCH_KEYWORDS=values(SEARCH_KEYWORDS),</if>
            <if test="list[0].sellerId!=null">SELLER_ID=values(SELLER_ID),</if>
            <if test="list[0].sellerName!=null">SELLER_NAME=values(SELLER_NAME),</if>
            <if test="list[0].storeId!=null">STORE_ID=values(STORE_ID),</if>
            <if test="list[0].features!=null">FEATURES=values(FEATURES),</if>
            <if test="list[0].feature!=null">FEATURE=values(FEATURE),</if>
            <if test="list[0].tags!=null">TAGS=values(TAGS),</if>
            <if test="list[0].illegalTags!=null">ILLEGAL_TAGS=values(ILLEGAL_TAGS),</if>
            <if test="list[0].skuMaxPrice!=null">SKU_MAX_PRICE=values(SKU_MAX_PRICE),</if>
            <if test="list[0].skuMinPrice!=null">SKU_MIN_PRICE=values(SKU_MIN_PRICE),</if>
            <if test="list[0].currency!=null">CURRENCY=values(CURRENCY),</if>
            <if test="list[0].forbiddenSaleNations!=null">FORBIDDEN_SALE_NATIONS=values(FORBIDDEN_SALE_NATIONS),</if>
            <if test="list[0].description!=null">DESCRIPTION=values(DESCRIPTION),</if>
            <if test="list[0].channel!=null">CHANNEL=values(CHANNEL),</if>
        </trim>
    </insert>

    <update id="batchUpdate" parameterType="com.clubfactory.item.center.core.dataobject.ItemDO">
        update
        item
        <trim prefix="set" suffixOverrides=",">
            <if test="list[0].createTime!=null">
                <trim prefix="CREATE_TIME = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.createTime}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].updateTime!=null">
                <trim prefix="UPDATE_TIME = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.updateTime}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].isDelete!=null">
                <trim prefix="IS_DELETE = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.isDelete}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].productId!=null">
                <trim prefix="PRODUCT_ID = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.productId}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].productNo!=null">
                <trim prefix="PRODUCT_NO = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.productNo}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].title!=null">
                <trim prefix="TITLE = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.title}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].status!=null">
                <trim prefix="STATUS = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.status}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].inventoryStatus!=null">
                <trim prefix="INVENTORY_STATUS = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.inventoryStatus}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].version!=null">
                <trim prefix="VERSION = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.version}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].categoryId!=null">
                <trim prefix="CATEGORY_ID = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.categoryId}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].bizModel!=null">
                <trim prefix="BIZ_MODEL = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.bizModel}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].mainImage!=null">
                <trim prefix="MAIN_IMAGE = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.mainImage}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].images!=null">
                <trim prefix="IMAGES = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.images}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].videoUrl!=null">
                <trim prefix="VIDEO_URL = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.videoUrl}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].videoCover!=null">
                <trim prefix="VIDEO_COVER = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.videoCover}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].orders!=null">
                <trim prefix="ORDERS = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.orders}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].specification!=null">
                <trim prefix="SPECIFICATION = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.specification}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].itemProperty!=null">
                <trim prefix="ITEM_PROPERTY = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.itemProperty}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].searchKeywords!=null">
                <trim prefix="SEARCH_KEYWORDS = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.searchKeywords}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].sellerId!=null">
                <trim prefix="SELLER_ID = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.sellerId}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].sellerName!=null">
                <trim prefix="SELLER_NAME = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.sellerName}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].storeId!=null">
                <trim prefix="STORE_ID = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.storeId}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].features!=null">
                <trim prefix="FEATURES = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.features}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].feature!=null">
                <trim prefix="FEATURE = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.feature}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].tags!=null">
                <trim prefix="TAGS = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.tags}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].illegalTags!=null">
                <trim prefix="ILLEGAL_TAGS = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.illegalTags}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].skuMaxPrice!=null">
                <trim prefix="SKU_MAX_PRICE = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.skuMaxPrice}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].skuMinPrice!=null">
                <trim prefix="SKU_MIN_PRICE = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.skuMinPrice}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].currency!=null">
                <trim prefix="CURRENCY = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.currency}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].forbiddenSaleNations!=null">
                <trim prefix="FORBIDDEN_SALE_NATIONS = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.forbiddenSaleNations}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].description!=null">
                <trim prefix="DESCRIPTION = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.description}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].channel!=null">
                <trim prefix="CHANNEL = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.channel}
                    </foreach>
                </trim>
            </if>
        </trim>
        where item_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.itemId}
        </foreach>
    </update>

</mapper>

