<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clubfactory.item.center.core.mapper.ItemSkuPriceMapper">

    <resultMap id="BaseResultMap" type="com.clubfactory.item.center.core.dataobject.ItemSkuPriceDO">
		<id property="id" column="ID"/><!--id-->
		<result property="updateTime" column="UPDATE_TIME"/><!--更新时间精确到毫秒-->
		<result property="createTime" column="CREATE_TIME"/><!---->
		<result property="itemId" column="ITEM_ID"/><!--item_id-->
		<result property="itemSkuId" column="ITEM_SKU_ID"/><!--item_sku_id-->
		<result property="country" column="COUNTRY"/><!--国家-->
		<result property="compareAtPrice" column="COMPARE_AT_PRICE"/><!--展示价(吊牌价, 原价, 市场价,  划线价)-->
		<result property="price" column="PRICE"/><!--普通购买价(销售价)-->
		<result property="memberOnlyPrice" column="MEMBER_ONLY_PRICE"/><!--会员购买价(会员价)-->
		<result property="currency" column="CURRENCY"/><!--币种-->
    </resultMap>

    <sql id="Base_Column_List">
        <trim suffixOverrides=",">
            ID,
            UPDATE_TIME,
            CREATE_TIME,
            ITEM_ID,
            ITEM_SKU_ID,
            COUNTRY,
            COMPARE_AT_PRICE,
            PRICE,
            MEMBER_ONLY_PRICE,
            CURRENCY,
        </trim>
    </sql>


    <sql id="idCnd">
        <where>
            item_id=#{itemId}
        </where>
    </sql>

    <insert id="insert" parameterType="com.clubfactory.item.center.core.dataobject.ItemSkuPriceDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item_sku_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="id!=null">ID,</if>
		<if test="updateTime!=null">UPDATE_TIME,</if>
		<if test="createTime!=null">CREATE_TIME,</if>
		<if test="itemId!=null">ITEM_ID,</if>
		<if test="itemSkuId!=null">ITEM_SKU_ID,</if>
		<if test="country!=null">COUNTRY,</if>
		<if test="compareAtPrice!=null">COMPARE_AT_PRICE,</if>
		<if test="price!=null">PRICE,</if>
		<if test="memberOnlyPrice!=null">MEMBER_ONLY_PRICE,</if>
		<if test="currency!=null">CURRENCY,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="id!=null">#{id},</if>
		<if test="updateTime!=null">#{updateTime},</if>
		<if test="createTime!=null">#{createTime},</if>
		<if test="itemId!=null">#{itemId},</if>
		<if test="itemSkuId!=null">#{itemSkuId},</if>
		<if test="country!=null">#{country},</if>
		<if test="compareAtPrice!=null">#{compareAtPrice},</if>
		<if test="price!=null">#{price},</if>
		<if test="memberOnlyPrice!=null">#{memberOnlyPrice},</if>
		<if test="currency!=null">#{currency},</if>
        </trim>
    </insert>

    <insert id="upsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemSkuPriceDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item_sku_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="id!=null">ID,</if>
		<if test="updateTime!=null">UPDATE_TIME,</if>
		<if test="createTime!=null">CREATE_TIME,</if>
		<if test="itemId!=null">ITEM_ID,</if>
		<if test="itemSkuId!=null">ITEM_SKU_ID,</if>
		<if test="country!=null">COUNTRY,</if>
		<if test="compareAtPrice!=null">COMPARE_AT_PRICE,</if>
		<if test="price!=null">PRICE,</if>
		<if test="memberOnlyPrice!=null">MEMBER_ONLY_PRICE,</if>
		<if test="currency!=null">CURRENCY,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="id!=null">#{id},</if>
		<if test="updateTime!=null">#{updateTime},</if>
		<if test="createTime!=null">#{createTime},</if>
		<if test="itemId!=null">#{itemId},</if>
		<if test="itemSkuId!=null">#{itemSkuId},</if>
		<if test="country!=null">#{country},</if>
		<if test="compareAtPrice!=null">#{compareAtPrice},</if>
		<if test="price!=null">#{price},</if>
		<if test="memberOnlyPrice!=null">#{memberOnlyPrice},</if>
		<if test="currency!=null">#{currency},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
        <if test="updateTime!=null">UPDATE_TIME=#{updateTime},</if>
        <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
        <if test="itemSkuId!=null">ITEM_SKU_ID=#{itemSkuId},</if>
        <if test="country!=null">COUNTRY=#{country},</if>
        <if test="compareAtPrice!=null">COMPARE_AT_PRICE=#{compareAtPrice},</if>
        <if test="price!=null">PRICE=#{price},</if>
        <if test="memberOnlyPrice!=null">MEMBER_ONLY_PRICE=#{memberOnlyPrice},</if>
        <if test="currency!=null">CURRENCY=#{currency},</if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey">
        DELETE FROM item_sku_price
        <include refid="idCnd"/>
    </delete>

    <update id="updateByPrimaryKey">
        UPDATE item_sku_price
        <set>
		<if test="id!=null">ID=#{id},</if>
		<if test="updateTime!=null">UPDATE_TIME=#{updateTime},</if>
		<if test="createTime!=null">CREATE_TIME=#{createTime},</if>
		<if test="itemId!=null">ITEM_ID=#{itemId},</if>
		<if test="itemSkuId!=null">ITEM_SKU_ID=#{itemSkuId},</if>
		<if test="country!=null">COUNTRY=#{country},</if>
		<if test="compareAtPrice!=null">COMPARE_AT_PRICE=#{compareAtPrice},</if>
		<if test="price!=null">PRICE=#{price},</if>
		<if test="memberOnlyPrice!=null">MEMBER_ONLY_PRICE=#{memberOnlyPrice},</if>
		<if test="currency!=null">CURRENCY=#{currency},</if>
        </set>
        <include refid="idCnd"/>
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        item_sku_price
        <include refid="idCnd"/>
    </select>


    <sql id="where_clause">
        <where>
        <if test="id!=null">AND ID=#{id}</if>
        <if test="updateTime!=null">AND UPDATE_TIME=#{updateTime}</if>
        <if test="createTime!=null">AND CREATE_TIME=#{createTime}</if>
        <if test="itemId!=null">AND ITEM_ID=#{itemId}</if>
        <if test="itemSkuId!=null">AND ITEM_SKU_ID=#{itemSkuId}</if>
        <if test="country!=null">AND COUNTRY=#{country}</if>
        <if test="compareAtPrice!=null">AND COMPARE_AT_PRICE=#{compareAtPrice}</if>
        <if test="price!=null">AND PRICE=#{price}</if>
        <if test="memberOnlyPrice!=null">AND MEMBER_ONLY_PRICE=#{memberOnlyPrice}</if>
        <if test="currency!=null">AND CURRENCY=#{currency}</if>
        </where>
    </sql>

    <select id="listByParams" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        item_sku_price
        <include refid="where_clause"/>
    </select>


    <insert id="batchInsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemSkuPriceDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
    item_sku_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="list[0].id!=null">ID,</if>
    <if test="list[0].updateTime!=null">UPDATE_TIME,</if>
    <if test="list[0].createTime!=null">CREATE_TIME,</if>
    <if test="list[0].itemId!=null">ITEM_ID,</if>
    <if test="list[0].itemSkuId!=null">ITEM_SKU_ID,</if>
    <if test="list[0].country!=null">COUNTRY,</if>
    <if test="list[0].compareAtPrice!=null">COMPARE_AT_PRICE,</if>
    <if test="list[0].price!=null">PRICE,</if>
    <if test="list[0].memberOnlyPrice!=null">MEMBER_ONLY_PRICE,</if>
    <if test="list[0].currency!=null">CURRENCY,</if>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="list[0].id!=null">#{item.id},</if>
    <if test="list[0].updateTime!=null">#{item.updateTime},</if>
    <if test="list[0].createTime!=null">#{item.createTime},</if>
    <if test="list[0].itemId!=null">#{item.itemId},</if>
    <if test="list[0].itemSkuId!=null">#{item.itemSkuId},</if>
    <if test="list[0].country!=null">#{item.country},</if>
    <if test="list[0].compareAtPrice!=null">#{item.compareAtPrice},</if>
    <if test="list[0].price!=null">#{item.price},</if>
    <if test="list[0].memberOnlyPrice!=null">#{item.memberOnlyPrice},</if>
    <if test="list[0].currency!=null">#{item.currency},</if>
            </trim>
        </foreach>
    </insert>

    <insert id="batchUpsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemSkuPriceDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
    item_sku_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="list[0].id!=null">ID,</if>
    <if test="list[0].updateTime!=null">UPDATE_TIME,</if>
    <if test="list[0].createTime!=null">CREATE_TIME,</if>
    <if test="list[0].itemId!=null">ITEM_ID,</if>
    <if test="list[0].itemSkuId!=null">ITEM_SKU_ID,</if>
    <if test="list[0].country!=null">COUNTRY,</if>
    <if test="list[0].compareAtPrice!=null">COMPARE_AT_PRICE,</if>
    <if test="list[0].price!=null">PRICE,</if>
    <if test="list[0].memberOnlyPrice!=null">MEMBER_ONLY_PRICE,</if>
    <if test="list[0].currency!=null">CURRENCY,</if>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="list[0].id!=null">#{item.id},</if>
    <if test="list[0].updateTime!=null">#{item.updateTime},</if>
    <if test="list[0].createTime!=null">#{item.createTime},</if>
    <if test="list[0].itemId!=null">#{item.itemId},</if>
    <if test="list[0].itemSkuId!=null">#{item.itemSkuId},</if>
    <if test="list[0].country!=null">#{item.country},</if>
    <if test="list[0].compareAtPrice!=null">#{item.compareAtPrice},</if>
    <if test="list[0].price!=null">#{item.price},</if>
    <if test="list[0].memberOnlyPrice!=null">#{item.memberOnlyPrice},</if>
    <if test="list[0].currency!=null">#{item.currency},</if>
            </trim>
        </foreach>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="list[0].updateTime!=null">UPDATE_TIME=values(UPDATE_TIME),</if>
            <if test="list[0].createTime!=null">CREATE_TIME=values(CREATE_TIME),</if>
            <if test="list[0].itemSkuId!=null">ITEM_SKU_ID=values(ITEM_SKU_ID),</if>
            <if test="list[0].country!=null">COUNTRY=values(COUNTRY),</if>
            <if test="list[0].compareAtPrice!=null">COMPARE_AT_PRICE=values(COMPARE_AT_PRICE),</if>
            <if test="list[0].price!=null">PRICE=values(PRICE),</if>
            <if test="list[0].memberOnlyPrice!=null">MEMBER_ONLY_PRICE=values(MEMBER_ONLY_PRICE),</if>
            <if test="list[0].currency!=null">CURRENCY=values(CURRENCY),</if>
        </trim>
    </insert>

    <update id="batchUpdate" parameterType="com.clubfactory.item.center.core.dataobject.ItemSkuPriceDO">
        update
    item_sku_price
        <trim prefix="set" suffixOverrides=",">
        <if test="list[0].updateTime!=null">
            <trim prefix="UPDATE_TIME = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when item_id=#{item.itemId} then #{item.updateTime}
                </foreach>
            </trim>
        </if>
        <if test="list[0].createTime!=null">
            <trim prefix="CREATE_TIME = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when item_id=#{item.itemId} then #{item.createTime}
                </foreach>
            </trim>
        </if>
        <if test="list[0].itemSkuId!=null">
            <trim prefix="ITEM_SKU_ID = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when item_id=#{item.itemId} then #{item.itemSkuId}
                </foreach>
            </trim>
        </if>
        <if test="list[0].country!=null">
            <trim prefix="COUNTRY = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when item_id=#{item.itemId} then #{item.country}
                </foreach>
            </trim>
        </if>
        <if test="list[0].compareAtPrice!=null">
            <trim prefix="COMPARE_AT_PRICE = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when item_id=#{item.itemId} then #{item.compareAtPrice}
                </foreach>
            </trim>
        </if>
        <if test="list[0].price!=null">
            <trim prefix="PRICE = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when item_id=#{item.itemId} then #{item.price}
                </foreach>
            </trim>
        </if>
        <if test="list[0].memberOnlyPrice!=null">
            <trim prefix="MEMBER_ONLY_PRICE = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when item_id=#{item.itemId} then #{item.memberOnlyPrice}
                </foreach>
            </trim>
        </if>
        <if test="list[0].currency!=null">
            <trim prefix="CURRENCY = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when item_id=#{item.itemId} then #{item.currency}
                </foreach>
            </trim>
        </if>
        </trim>
        where item_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
#{item.itemId}
        </foreach>
    </update>

</mapper>

