<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clubfactory.item.center.core.mapper.ItemImagesMapper">

    <resultMap id="BaseResultMap" type="com.clubfactory.item.center.core.dataobject.ItemImagesDO">
        <id property="id" column="ID"/><!--id-->
        <result property="updateTime" column="UPDATE_TIME"/><!--更新时间精确到毫秒-->
        <result property="createTime" column="CREATE_TIME"/><!---->
        <result property="itemId" column="ITEM_ID"/><!--item_id-->
        <result property="url" column="URL"/><!--图片url-->
        <result property="sequence" column="SEQUENCE"/><!--图片序号, 从大到小排列-->
    </resultMap>

    <sql id="Base_Column_List">
        <trim suffixOverrides=",">
            ID,
            UPDATE_TIME,
            CREATE_TIME,
            ITEM_ID,
            URL,
            SEQUENCE,
        </trim>
    </sql>


    <sql id="idCnd">
        <where>
            <if test="id!=null">ID=#{id,jdbcType=BIGINT}</if>
            <if test="id==null">1=0</if>
        </where>
    </sql>

    <insert id="insert" parameterType="com.clubfactory.item.center.core.dataobject.ItemImagesDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item_images_0
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">ID,</if>
            <if test="updateTime!=null">UPDATE_TIME,</if>
            <if test="createTime!=null">CREATE_TIME,</if>
            <if test="itemId!=null">ITEM_ID,</if>
            <if test="url!=null">URL,</if>
            <if test="sequence!=null">SEQUENCE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id,jdbcType=BIGINT},</if>
            <if test="updateTime!=null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="createTime!=null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="itemId!=null">#{itemId,jdbcType=BIGINT},</if>
            <if test="url!=null">#{url,jdbcType=VARCHAR},</if>
            <if test="sequence!=null">#{sequence,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <insert id="upsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemImagesDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item_images_0
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">ID,</if>
            <if test="updateTime!=null">UPDATE_TIME,</if>
            <if test="createTime!=null">CREATE_TIME,</if>
            <if test="itemId!=null">ITEM_ID,</if>
            <if test="url!=null">URL,</if>
            <if test="sequence!=null">SEQUENCE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id,jdbcType=BIGINT},</if>
            <if test="updateTime!=null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="createTime!=null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="itemId!=null">#{itemId,jdbcType=BIGINT},</if>
            <if test="url!=null">#{url,jdbcType=VARCHAR},</if>
            <if test="sequence!=null">#{sequence,jdbcType=INTEGER},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="updateTime!=null">UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="itemId!=null">ITEM_ID=#{itemId,jdbcType=BIGINT},</if>
            <if test="url!=null">URL=#{url,jdbcType=VARCHAR},</if>
            <if test="sequence!=null">SEQUENCE=#{sequence,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey">
        DELETE FROM item_images_0
        <include refid="idCnd"/>
    </delete>

    <update id="updateByPrimaryKey">
        UPDATE item_images_0
        <set>
            <if test="id!=null">ID=#{id,jdbcType=BIGINT},</if>
            <if test="updateTime!=null">UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="itemId!=null">ITEM_ID=#{itemId,jdbcType=BIGINT},</if>
            <if test="url!=null">URL=#{url,jdbcType=VARCHAR},</if>
            <if test="sequence!=null">SEQUENCE=#{sequence,jdbcType=INTEGER},</if>
        </set>
        <include refid="idCnd"/>
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        item_images_0
        <include refid="idCnd"/>
    </select>


    <sql id="where_clause">
        <where>
            <if test="id!=null">AND ID=#{id,jdbcType=BIGINT}</if>
            <if test="updateTime!=null">AND UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}</if>
            <if test="createTime!=null">AND CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="itemId!=null">AND ITEM_ID=#{itemId,jdbcType=BIGINT}</if>
            <if test="url!=null">AND URL=#{url,jdbcType=VARCHAR}</if>
            <if test="sequence!=null">AND SEQUENCE=#{sequence,jdbcType=INTEGER}</if>
        </where>
    </sql>

    <select id="listByParams" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        item_images_0
        <include refid="where_clause"/>
    </select>


    <insert id="batchInsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemImagesDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item_images_0
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].id!=null">ID,</if>
            <if test="list[0].updateTime!=null">UPDATE_TIME,</if>
            <if test="list[0].createTime!=null">CREATE_TIME,</if>
            <if test="list[0].itemId!=null">ITEM_ID,</if>
            <if test="list[0].url!=null">URL,</if>
            <if test="list[0].sequence!=null">SEQUENCE,</if>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="list[0].id!=null">#{item.id,jdbcType=BIGINT},</if>
                <if test="list[0].updateTime!=null">#{item.updateTime,jdbcType=TIMESTAMP},</if>
                <if test="list[0].createTime!=null">#{item.createTime,jdbcType=TIMESTAMP},</if>
                <if test="list[0].itemId!=null">#{item.itemId,jdbcType=BIGINT},</if>
                <if test="list[0].url!=null">#{item.url,jdbcType=VARCHAR},</if>
                <if test="list[0].sequence!=null">#{item.sequence,jdbcType=INTEGER},</if>
            </trim>
        </foreach>
    </insert>

    <insert id="batchUpsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemImagesDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item_images_0
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].id!=null">ID,</if>
            <if test="list[0].updateTime!=null">UPDATE_TIME,</if>
            <if test="list[0].createTime!=null">CREATE_TIME,</if>
            <if test="list[0].itemId!=null">ITEM_ID,</if>
            <if test="list[0].url!=null">URL,</if>
            <if test="list[0].sequence!=null">SEQUENCE,</if>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="list[0].id!=null">#{item.id,jdbcType=BIGINT},</if>
                <if test="list[0].updateTime!=null">#{item.updateTime,jdbcType=TIMESTAMP},</if>
                <if test="list[0].createTime!=null">#{item.createTime,jdbcType=TIMESTAMP},</if>
                <if test="list[0].itemId!=null">#{item.itemId,jdbcType=BIGINT},</if>
                <if test="list[0].url!=null">#{item.url,jdbcType=VARCHAR},</if>
                <if test="list[0].sequence!=null">#{item.sequence,jdbcType=INTEGER},</if>
            </trim>
        </foreach>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="list[0].updateTime!=null">UPDATE_TIME=values(UPDATE_TIME),</if>
            <if test="list[0].createTime!=null">CREATE_TIME=values(CREATE_TIME),</if>
            <if test="list[0].itemId!=null">ITEM_ID=values(ITEM_ID),</if>
            <if test="list[0].url!=null">URL=values(URL),</if>
            <if test="list[0].sequence!=null">SEQUENCE=values(SEQUENCE),</if>
        </trim>
    </insert>

    <update id="batchUpdate" parameterType="com.clubfactory.item.center.core.dataobject.ItemImagesDO">
        update
        item_images_0
        <trim prefix="set" suffixOverrides=",">
            <if test="list[0].updateTime!=null">
                <trim prefix="UPDATE_TIME = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when id=#{item.id} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].createTime!=null">
                <trim prefix="CREATE_TIME = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when id=#{item.id} then #{item.createTime,jdbcType=TIMESTAMP}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].itemId!=null">
                <trim prefix="ITEM_ID = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when id=#{item.id} then #{item.itemId,jdbcType=BIGINT}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].url!=null">
                <trim prefix="URL = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when id=#{item.id} then #{item.url,jdbcType=VARCHAR}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].sequence!=null">
                <trim prefix="SEQUENCE = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when id=#{item.id} then #{item.sequence,jdbcType=INTEGER}
                    </foreach>
                </trim>
            </if>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

</mapper>

