<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clubfactory.item.center.core.mapper.ItemImagesMapper">

    <resultMap id="BaseResultMap" type="com.clubfactory.item.center.core.dataobject.ItemImagesDO">
        <id property="id" column="ID"/><!--id-->
        <result property="updateTime" column="UPDATE_TIME"/><!--更新时间精确到毫秒-->
        <result property="createTime" column="CREATE_TIME"/><!---->
        <result property="itemId" column="ITEM_ID"/><!--item_id-->
        <result property="url" column="URL"/><!--图片url-->
        <result property="sequence" column="SEQUENCE"/><!--图片序号, 从大到小排列-->
    </resultMap>

    <sql id="Base_Column_List">
        <trim suffixOverrides=",">
            ID,
            UPDATE_TIME,
            CREATE_TIME,
            ITEM_ID,
            URL,
            SEQUENCE,
        </trim>
    </sql>


    <sql id="idCnd">
        <where>
            item_id=#{itemId}
        </where>
    </sql>

    <insert id="insert" parameterType="com.clubfactory.item.center.core.dataobject.ItemImagesDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item_images
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">ID,</if>
            <if test="updateTime!=null">UPDATE_TIME,</if>
            <if test="createTime!=null">CREATE_TIME,</if>
            <if test="itemId!=null">ITEM_ID,</if>
            <if test="url!=null">URL,</if>
            <if test="sequence!=null">SEQUENCE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="updateTime!=null">#{updateTime},</if>
            <if test="createTime!=null">#{createTime},</if>
            <if test="itemId!=null">#{itemId},</if>
            <if test="url!=null">#{url},</if>
            <if test="sequence!=null">#{sequence},</if>
        </trim>
    </insert>

    <insert id="upsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemImagesDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item_images
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">ID,</if>
            <if test="updateTime!=null">UPDATE_TIME,</if>
            <if test="createTime!=null">CREATE_TIME,</if>
            <if test="itemId!=null">ITEM_ID,</if>
            <if test="url!=null">URL,</if>
            <if test="sequence!=null">SEQUENCE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="updateTime!=null">#{updateTime},</if>
            <if test="createTime!=null">#{createTime},</if>
            <if test="itemId!=null">#{itemId},</if>
            <if test="url!=null">#{url},</if>
            <if test="sequence!=null">#{sequence},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="updateTime!=null">UPDATE_TIME=#{updateTime},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
            <if test="url!=null">URL=#{url},</if>
            <if test="sequence!=null">SEQUENCE=#{sequence},</if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey">
        DELETE FROM item_images
        <include refid="idCnd"/>
    </delete>

    <update id="updateByPrimaryKey">
        UPDATE item_images
        <set>
            <if test="id!=null">ID=#{id},</if>
            <if test="updateTime!=null">UPDATE_TIME=#{updateTime},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
            <if test="itemId!=null">ITEM_ID=#{itemId},</if>
            <if test="url!=null">URL=#{url},</if>
            <if test="sequence!=null">SEQUENCE=#{sequence},</if>
        </set>
        <include refid="idCnd"/>
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        item_images
        <include refid="idCnd"/>
    </select>


    <sql id="where_clause">
        <where>
            <if test="id!=null">AND ID=#{id}</if>
            <if test="updateTime!=null">AND UPDATE_TIME=#{updateTime}</if>
            <if test="createTime!=null">AND CREATE_TIME=#{createTime}</if>
            <if test="itemId!=null">AND ITEM_ID=#{itemId}</if>
            <if test="url!=null">AND URL=#{url}</if>
            <if test="sequence!=null">AND SEQUENCE=#{sequence}</if>
        </where>
    </sql>

    <select id="listByParams" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        item_images
        <include refid="where_clause"/>
    </select>


    <insert id="batchInsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemImagesDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item_images
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].id!=null">ID,</if>
            <if test="list[0].updateTime!=null">UPDATE_TIME,</if>
            <if test="list[0].createTime!=null">CREATE_TIME,</if>
            <if test="list[0].itemId!=null">ITEM_ID,</if>
            <if test="list[0].url!=null">URL,</if>
            <if test="list[0].sequence!=null">SEQUENCE,</if>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="list[0].id!=null">#{item.id},</if>
                <if test="list[0].updateTime!=null">#{item.updateTime},</if>
                <if test="list[0].createTime!=null">#{item.createTime},</if>
                <if test="list[0].itemId!=null">#{item.itemId},</if>
                <if test="list[0].url!=null">#{item.url},</if>
                <if test="list[0].sequence!=null">#{item.sequence},</if>
            </trim>
        </foreach>
    </insert>

    <insert id="batchUpsert" parameterType="com.clubfactory.item.center.core.dataobject.ItemImagesDO"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        item_images
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].id!=null">ID,</if>
            <if test="list[0].updateTime!=null">UPDATE_TIME,</if>
            <if test="list[0].createTime!=null">CREATE_TIME,</if>
            <if test="list[0].itemId!=null">ITEM_ID,</if>
            <if test="list[0].url!=null">URL,</if>
            <if test="list[0].sequence!=null">SEQUENCE,</if>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="list[0].id!=null">#{item.id},</if>
                <if test="list[0].updateTime!=null">#{item.updateTime},</if>
                <if test="list[0].createTime!=null">#{item.createTime},</if>
                <if test="list[0].itemId!=null">#{item.itemId},</if>
                <if test="list[0].url!=null">#{item.url},</if>
                <if test="list[0].sequence!=null">#{item.sequence},</if>
            </trim>
        </foreach>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="list[0].updateTime!=null">UPDATE_TIME=values(UPDATE_TIME),</if>
            <if test="list[0].createTime!=null">CREATE_TIME=values(CREATE_TIME),</if>
            <if test="list[0].url!=null">URL=values(URL),</if>
            <if test="list[0].sequence!=null">SEQUENCE=values(SEQUENCE),</if>
        </trim>
    </insert>

    <update id="batchUpdate" parameterType="com.clubfactory.item.center.core.dataobject.ItemImagesDO">
        update
        item_images
        <trim prefix="set" suffixOverrides=",">
            <if test="list[0].updateTime!=null">
                <trim prefix="UPDATE_TIME = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.updateTime}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].createTime!=null">
                <trim prefix="CREATE_TIME = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.createTime}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].url!=null">
                <trim prefix="URL = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.url}
                    </foreach>
                </trim>
            </if>
            <if test="list[0].sequence!=null">
                <trim prefix="SEQUENCE = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        when item_id=#{item.itemId} then #{item.sequence}
                    </foreach>
                </trim>
            </if>
        </trim>
        where item_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.itemId}
        </foreach>
    </update>

</mapper>

